<div class="h-screen flex items-center justify-center">
  <form [formGroup]="registerForm" (ngSubmit)="register()"
    class="shadow-md rounded-md p-5 bg-white w-full max-w-md sm:max-w-lg md:max-w-xl">



    @for(error of errors; track error){
    <div class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px4 py4 rounded-md relative">
      <div class="text-xs p-2">{{errors}}</div>
    </div>
    }


    <!-- *  -->
    <div class="py-4">
      <h1 class="font-bold text-left py-2">
        Registrar
      </h1>

      <h6 class="text-slater-600 text-base">
        Crea tú cuenta
      </h6>
    </div>

    <!-- ?  -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="fullName">
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <!-- * Creamos el selector de los roles -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        @for (item of roles$ | async; track item) {
        <mat-option [value]="item.name">{{item.name}}</mat-option>
        }

      </mat-select>
      <mat-icon matPrefix>groups</mat-icon>
    </mat-form-field>



    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="{{passwordHide ? 'password' : 'text'}}" placeholder="Contraseña">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="passwordHide = !passwordHide" matSuffix>{{passwordHide ? 'visibility_of'
        :'visibility'}}</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirma la contraseña</mat-label>
      <input formControlName="confirmPassword" matInput type="{{confirmPasswordHide ? 'password' : 'text'}}" placeholder="Confirmar contraseña">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="confirmPasswordHide = !confirmPasswordHide" matSuffix>{{confirmPasswordHide ? 'visibility_of'
        :'visibility'}}</mat-icon>
    </mat-form-field>


    <!-- ^ Verificamos que sean la misma contraseña: -->
    <span class="text-red-600"
      *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.dirty && registerForm.get('confirmPassword')?.touched">
      Passwords do not match.
    </span>

    <button type="submit" [disabled]="!registerForm.valid" class="w-full border-collapse text-white rounded-md border-slate-200 disabled:bg-purple-400 py-2
    px-3 bg-purple-700">
      Aceptar
    </button>

    <!-- <button type="submit"
      class="w-full border rounder-md border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold">
      Aceptar
    </button> -->


    <div class="my-4">
      <span lang="text-slate-600">
        Ya cuentas con una cuenta?
      </span>
      <a href="" class="text-purple-700" [routerLink]="['/login']"></a>
    </div>



  </form>
</div>
