<div class="flex items-center flex-col pt-56 h-screen">
  <div class="h-screen">
    <h1 class="text-4xl text-center font-bold my-10">Bienbenido a

      <span class="text-5xl text-green-800">Mi primera web tutorial de 4r</span>

      <p>( ͡° ͜ʖ ͡°)</p>
    </h1>

        <h1 class="text-2xl">No estas logeado dentro de esta App </h1>
        <a routerLink="/login">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
            Login
          </button>
        </a>

    </div>

  </div>
